# We're pinning our tooling, because it's an environment we can strictly control.
# We're not pinning package dependencies, because our tests need to pass with the
# latest version of the packages.

# Dependencies

# Tooling
maturin
pytest==7.1.1
pybloom-live==3.1.0