name: Test Python

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Build and test python
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.7", "3.10" ]
    steps:
      - uses: actions/checkout@v2
      - name: Install rust stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Add conda to system path
        run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r build.requirements.txt
      - name: Maturin develop
        uses: messense/maturin-action@v1
        with:
          maturin-version: latest
          command: develop
          args: --release
      - name: python unittest
        run: pytest py_tests
